[Unit]
Description=Backup Docker volumes using vackup
Wants=vackup_all.timer

[Service]
Type=exec
ExecStart=/usr/local/bin/vackup --quiet all export --in-use --stop --parents --date-dir --utc --keep-days=180 {PATH-TO-BACKUP-DIRECTORY}

[Install]
WantedBy=default.target